<!--? if a class has been selected, display class features, traits, etc.-->
<div class="row mx-auto mt-2" *ngIf="selectedClass && hasSelected">
  <div class="row">
    <div class="col-8">
      <div class="row">
        <h2>
          {{ selectedClass.name }}
        </h2>

        <p>{{ selectedClass.description }}</p>
      </div>
      <div class="row">
        <div class="col">
          <p class="m-0 p-0">
            <b>Character Level: {{ character.level }}</b>
          </p>
          <small *ngIf="character.milestone; else EXP">Milestone Leveling</small>
          <ng-template #EXP>
            <small>EXP Leveling</small>
          </ng-template>
        </div>
        <div class="col">
          <b>Max HP: </b> {{ character.maxHP }}
          <br />
          <b>Hit Dice: </b>{{ character.level }}d{{ selectedClass.hitDice }}
          <br />
          <button class="btn btn-primary mt-1" style="width: 125px; height: 40px">
            Manage HP
          </button>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="col d-flex justify-content-center">
        <img class="card-img" src="{{ selectedClass.image || 'assets/placeholder.webp' }}"
          alt="{{ selectedClass.name }} image" style="width: 128px; height: 128px" />
      </div>
      <div class="col d-flex justify-content-center">
        <button class="btn" *ngIf="hasSelected" (click)="changeClass()">
          Change class?
        </button>
        <input type="number" placeholder="{{ character.level }}" min="1" max="20" (change)="level()"
          [(ngModel)]="character.level" />
      </div>
    </div>
  </div>

  <div class="col mb-3 mt-3">
    <h5>Class Features</h5>
  </div>

  <hr />
  <div class="mt-1">
    <accordion>
      <accordion-group class="mt-1">
        <button class="btn btn-link btn-block justify-content-between d-flex w-100 shadow-none" accordion-heading
          type="button">
          <div class="pull-left">Hit Points</div>

          <small>Level 1</small>
        </button>
        <b>Hit Dice:</b> 1d{{ selectedClass.hitDice }} per level <br />
        <b>Hit Points at 1st Level:</b> {{ selectedClass.hitDice }} + your
        Constitution Modifier<br />
        <b>Hit Points at Higher Levels:</b> {{ selectedClass.hitDice }} + your
        Constitution Modifier per subsequent level<br />
      </accordion-group>
      <accordion-group class="mt-1">
        <button class="btn btn-link btn-block justify-content-between d-flex w-100 shadow-none" accordion-heading
          type="button">
          <div class="pull-left">Proficiencies</div>

          <small>Level 1</small>
        </button>
        <b>Armor:</b>
        {{ selectedClass.proficiencies?.armor?.display || "None" }} <br />
        <b>Weapons:</b>
        {{ selectedClass.proficiencies?.weapons?.display || "None" }}
        <br />
        <b>Tools:</b>
        {{ selectedClass.proficiencies?.tools?.display || "None" }} <br />
        <b>Saving Throws: </b> {{ selectedClass.saves[0] || "None" }},
        {{ selectedClass.saves[1] || "" }} <br />
        <b>Skills:</b>
        {{ selectedClass.proficiencies?.skills?.display || "None" }}
        <br />
      </accordion-group>
      <span *ngFor="let feat of selectedClass.classFeatures | orderBy: 'levelReq'">
        <accordion-group class="mt-1">
          <button class="btn btn-link btn-block justify-content-between d-flex w-100" accordion-heading type="button">
            <div class="pull-left">{{ feat.name }}</div>
            <small [ngClass]="character.level < feat.levelReq ? 'higher-level' : ''">Level {{ feat.levelReq }}</small>
          </button>
          <div [class.show]="show" [ngClass]="feat.description.length > 100 ? 'hidden-text' : ''">
            {{ feat.description }}
          </div>
          <button class="btn" (click)="show = !show" style="color: blue" *ngIf="feat.description.length > 100">
            {{ show ? "Show less" : "Show More" }}
          </button>
        </accordion-group>
      </span>
    </accordion>
  </div>
</div>
<!--? if a class has not been selected, display available class options-->
<div class="row mx-auto mt-2" *ngIf="!hasSelected">
  <div class="mb-3" *ngIf="selectedClass">
    <b>Current class</b>
    <div class="col d-flex align-items-center justify-content-between">
      <div class="col">
        <img class="card-img me-2" src="{{ selectedClass.image || 'assets/placeholder.webp' }}"
          alt="{{ selectedClass.name }} image" style="width: 64px; height: 64px" />
        <span style="text-transform: uppercase">{{ selectedClass.name }}</span>
      </div>

      <button class="btn btn-sm btn-primary" (click)="keepClass()" style="height: 35px">
        Keep Class?
      </button>
    </div>
  </div>

  <h3 class="mb-3">Select Your Class</h3>
  <hr />
  <div class="class col-4 col-md-3 my-3 d-flex justify-content-center align-items-center" *ngFor="let class of classes">
    <button type="button" class="btn p-0" (click)="classSelectModal(class)">
      <div class="card d-flex bg-dark text-white">
        <img class="card-img" src="{{ class.image || 'assets/placeholder.webp' }}" alt="{{ class.name }} image"
          style="width: 128px; height: 128px" />
        <div class="card-img-overlay d-flex justify-content-center">
          <h5 class="card-title">{{ class.name }}</h5>
        </div>
      </div>
    </button>
  </div>
</div>
