<!--? if a race has been selected, display race features, traits, etc.-->
<div class="row mx-auto mt-2" *ngIf="selectedRace && hasSelected">
  <div class="row">
    <div class="col-8">
      <h2>
        {{ selectedRace.name }}
        <small class="text-muted" *ngIf="selectedRace.subrace">{{
          selectedRace.subrace
        }}</small>
      </h2>

      <p>{{ selectedRace.description }}</p>
    </div>

    <div class="col-4">
      <div class="col d-flex justify-content-center">
        <img
          class="card-img"
          src="{{ selectedRace.image || 'assets/placeholder.webp' }}"
          alt="Card image"
          style="width: 128px; height: 128px"
        />
      </div>
      <div class="col d-flex justify-content-center">
        <button class="btn" *ngIf="hasSelected" (click)="changeRace()">
          Change Race?
        </button>
      </div>
    </div>
  </div>

  <div class="col mb-3">
    <h5>Racial Traits</h5>
    <small
      class="text-muted"
      *ngFor="let trait of selectedRace.racialTraits; let last = last"
      ><span *ngIf="!last; else Last">{{ trait.shortDesc }}, </span>
      <ng-template #Last>{{ trait.shortDesc }}</ng-template></small
    >
  </div>

  <hr />
  <div class="mt-1" *ngFor="let trait of selectedRace.racialTraits">
    <accordion>
      <accordion-group heading="{{ trait.name }}">{{
        trait.description
      }}</accordion-group>
    </accordion>
  </div>
</div>
<!--? if a race has not been selected, display available race options-->
<div class="row mx-auto mt-2" *ngIf="!hasSelected">
  <div class="mb-3" *ngIf="selectedRace">
    <b>Current Race</b>
    <div class="col d-flex align-items-center justify-content-between">
      <div class="col">
        <img
          class="card-img me-2"
          src="{{ selectedRace.image || 'assets/placeholder.webp' }}"
          alt="Card image"
          style="width: 64px; height: 64px"
        />
        <span style="text-transform: uppercase">{{ selectedRace.name }}</span>
        <small
          class="text-muted"
          *ngIf="selectedRace.subrace"
          style="text-transform: uppercase"
        >
          {{ selectedRace.subrace }}</small
        >
      </div>

      <button
        class="btn btn-sm btn-primary"
        (click)="keepRace()"
        style="height: 35px"
      >
        Keep Race?
      </button>
    </div>
  </div>

  <h3 class="mb-3">Select Your Race</h3>
  <hr />
  <div class="race col-4 col-md-3 my-3 d-flex justify-content-center align-items-center" *ngFor="let race of races">
    <button type="button" class="btn p-0" (click)="raceSelectModal(race)">
      <div class="card d-flex bg-dark text-white">
        <img
          class="card-img"
          src="{{ race.image || 'assets/placeholder.webp' }}"
          alt="{{race.name}} image"
          style="width: 128px; height: 128px"style="width: 128px; height: 128px"
        />
        <div class="card-img-overlay d-flex justify-content-center">
          <h5 class="card-title" *ngIf="race.isSubrace; else noSubrace">
            {{ race.name + " (" + race.subrace + ")" }}
          </h5>
          <ng-template #noSubrace>
            <h5 class="card-title">{{ race.name }}</h5>
          </ng-template>
        </div>
      </div>
    </button>
  </div>
</div>
