<div class="row">
  <h3>Ability Scores</h3>
  <select
    [(ngModel)]="abilityScoreSelection"
    name="asi-method"
    class="form-select"
    aria-label="Ability score selections"
    (change)="select($event.target)"
  >
    <option value="-1" selected>-- Select an ASI Generation Method --</option>
    <option value="0">Standard Array</option>
    <option value="1">Manual or Rolled</option>
    <option value="2">Point Buy</option>
  </select>
</div>

<!-- ? ASI choice options -->
<div class="container my-3">
  <div class="row" *ngIf="abilityScoreSelection == 0">
    <div
      class="col-md-2 col-4 text-center my-2"
      *ngFor="let i of [0, 1, 2, 3, 4, 5]"
    >
      <small *ngIf="i === 0">STRENGTH</small>
      <small *ngIf="i === 1">DEXTERITY</small>
      <small *ngIf="i === 2">CONSTITUTION</small>
      <small *ngIf="i === 3">INTELLIGENCE</small>
      <small *ngIf="i === 4">WISDOM</small>
      <small *ngIf="i === 5">CHARISMA</small>

      <select
        class="form-select"
        [(ngModel)]="character.abilityScores[i]"
        (change)="updateASI()"
      >
        <option selected>--</option>
        <ng-container *ngFor="let asi of standardArray">
          <option
            *ngIf="
              character.abilityScores.indexOf(asi) === -1 ||
              character.abilityScores.indexOf(asi) === i
            "
            [ngValue]="asi"
          >
            {{ asi }}
          </option>
        </ng-container>
      </select>
      <small class="mt-1">
        TOTAL:
        {{
          character.abilityScoresTotal[i] !== -1
            ? character.abilityScoresTotal[i]
            : "--"
        }}
      </small>
    </div>
    <hr class="mt-3" />
  </div>
  <div class="row" *ngIf="abilityScoreSelection == 1">
    <div
      class="col-md-2 col-4 text-center my-2"
      *ngFor="let i of [0, 1, 2, 3, 4, 5]"
    >
      <small *ngIf="i === 0">STRENGTH</small>
      <small *ngIf="i === 1">DEXTERITY</small>
      <small *ngIf="i === 2">CONSTITUTION</small>
      <small *ngIf="i === 3">INTELLIGENCE</small>
      <small *ngIf="i === 4">WISDOM</small>
      <small *ngIf="i === 5">CHARISMA</small>
      <input
        class="form-control"
        type="number"
        min="3"
        max="30"
        (change)="updateASI()"
        [(ngModel)]="character.abilityScores[i]"
        [ngModel]="
          character.abilityScores[i] !== -1 ? character.abilityScores[i] : ''
        "
      />
      <small class="mt-1">
        TOTAL:
        {{
          character.abilityScoresTotal[i] !== -1
            ? character.abilityScoresTotal[i]
            : "--"
        }}
      </small>
      <ng-container *ngIf="diceRolls[i]">
        <span *ngFor="let dice of diceRolls[i]">
          <span class="border mx-1 p-1">{{ dice }}</span>
        </span>
        <span class="border mx-1 p-1" style="color: red">{{ diceMinRoll[i] }}</span>
      </ng-container>
      <button class="btn btn-outline-primary mt-2" (click)="rollDice(i)">
        Roll Dice
      </button>

    </div>
    <hr class="mt-3" />
  </div>
</div>

<!-- ? Race ASI Selection -->
<div class="row mb-4">
  <div *ngFor="let trait of character.race.racialTraits">
    <accordion>
      <accordion-group
        heading="{{ trait.name }} {{
          character.race.abilityScoreChoice
            ? '(' + character.race.abilityScoreChoice + ' choices)'
            : ''
        }}"
        *ngIf="trait.name === 'Ability Score Increase'"
      >
        {{ trait.description }}

        <ng-container *ngIf="character.race.abilityScoreChoice > 0">
          <ng-container
            *ngFor="
              let n of [].constructor(character.race.abilityScoreChoice);
              let i = index
            "
          >
            <select
              name="{{ i }}"
              class="form-select"
              aria-label="Race ability score options"
              (change)="updateRacialASI($event.target)"
            >
              <option [selected]="!character.racialAbilityChoices[i]">
                -- Select a choice --
              </option>
              <option
                value="0"
                *ngIf="
                  character.racialAbilityChoices.indexOf(0) == -1 ||
                  character.racialAbilityChoices[i] == 0
                "
                [selected]="character.racialAbilityChoices[i] == 0"
              >
                Strength
              </option>
              <option
                value="1"
                *ngIf="
                  character.racialAbilityChoices.indexOf(1) == -1 ||
                  character.racialAbilityChoices[i] == 1
                "
                [selected]="character.racialAbilityChoices[i] == 1"
              >
                Dexterity
              </option>
              <option
                value="2"
                *ngIf="
                  character.racialAbilityChoices.indexOf(2) == -1 ||
                  character.racialAbilityChoices[i] == 2
                "
                [selected]="character.racialAbilityChoices[i] == 2"
              >
                Constitution
              </option>
              <option
                value="3"
                *ngIf="
                  character.racialAbilityChoices.indexOf(3) == -1 ||
                  character.racialAbilityChoices[i] == 3
                "
                [selected]="character.racialAbilityChoices[i] == 3"
              >
                Intelligence
              </option>
              <option
                value="4"
                *ngIf="
                  character.racialAbilityChoices.indexOf(4) == -1 ||
                  character.racialAbilityChoices[i] == 4
                "
                [selected]="character.racialAbilityChoices[i] == 4"
              >
                Wisdom
              </option>
              <option
                value="5"
                *ngIf="
                  character.racialAbilityChoices.indexOf(5) == -1 ||
                  character.racialAbilityChoices[i] == 5
                "
                [selected]="character.racialAbilityChoices[i] == 5"
              >
                Charisma
              </option>
            </select>
          </ng-container>
        </ng-container>
      </accordion-group>
    </accordion>
  </div>
</div>

<!-- ? ASI table -->
<div class="row">
  <div class="col-md-4" *ngFor="let i of [0, 1, 2, 3, 4, 5]">
    <table class="table">
      <thead>
        <tr>
          <th *ngIf="i === 0">Strength</th>
          <th *ngIf="i === 1">Dexterity</th>
          <th *ngIf="i === 2">Constitution</th>
          <th *ngIf="i === 3">Intelligence</th>
          <th *ngIf="i === 4">Wisdom</th>
          <th *ngIf="i === 5">Charisma</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Total</td>
          <td>
            {{
              character.abilityScores[i] > 0
                ? character.abilityScoresTotal[i]
                : "--"
            }}
          </td>
        </tr>
        <tr>
          <td>Modifier</td>
          <td *ngIf="character.abilityScores[i] > 0; else noMod">
            {{ character.abilityScores[i] > 9 ? "+" : ""
            }}{{ character.abilityMods[i] }}
          </td>
          <ng-template #noMod><td>--</td></ng-template>
        </tr>
        <tr>
          <td>Base Score</td>
          <td>
            {{
              character.abilityScores[i] > 0 ? character.abilityScores[i] : "--"
            }}
          </td>
        </tr>
        <tr>
          <td>Racial</td>
          <td *ngIf="character.race.abilityScores; else noRace">
            +{{
              character.race.abilityScores[i] ||
              character.racialAbilityChoices.indexOf(i) !== -1
                ? 1
                : 0
            }}
          </td>
          <ng-template #noRace><td>+0</td></ng-template>
        </tr>
      </tbody>
    </table>
  </div>
</div>
